* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #f8eca0;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
  gap: 2rem 0;
}
button {
  background: url("../public/images/back.png");
  border-top: 2px solid #b0aca0;
  border-left: 2px solid #605040;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

button:active {
  border-bottom: 2px solid #b0aca0;
  border-right: 2px solid #605040;
  border-left: 2px solid black;
  border-top: 2px solid black;
  transform: scale(0.98);
  transition: 0.2s;
}
.control {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.mode span {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #f8eca0;
  cursor: pointer;
}
.mode span.active {
  background-color: #f8eca0;
  color: #605040;
}
.turns {
  flex: 0 0 100%;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  margin: 0 auto;
  border: 10px solid transparent;
  border-image: url("../public/images/frame.png") 30 round;
  background-color: grey;
}
.board.regular {
  width: 620px;
  height: 620px;
}
.board.big {
  width: 820px;
  height: 620px;
}
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100px;
  height: 100px;

  border: 2px solid transparent;
  border-top: 2px solid #b0aca0;
  border-left: 2px solid #605040;
  border-right: 2px solid black;
  border-bottom: 2px solid black;

  filter: grayscale(0.5);
}
.card__front {
  transform: scale(0);
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.card__flip .card__front {
  transform: scale(1);
  transition-delay: 0.4s;
}

.card__back {
  transition: 0.4s;
  transition-delay: 0.4s;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__flip .card__back {
  transform: scale(0);
  transition-delay: 0s;
}

.turns {
  font-size: 2rem;
}
.card_matched {
  filter: brightness(1.2) grayscale(0);
}
.card_matched:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 5px 5px green;
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.25rem;
  }
  .App {
    gap: 1rem 0;
  }
}
@media (max-width: 440px) {
  .board {
    width: 320px;
    height: 320px;
  }
  .card {
    flex: 0 0 75px;
    height: 75px;
  }
  .board,
  h1,
  .control {
    margin: 0;
  }
}
@media (max-width: 768px) {
  button {
    flex: 0 0 100%;
  }
  .mode {
    display: none;
  }
}
@media (min-width: 992px) {
  .card:hover {
    filter: brightness(1.2) grayscale(0);
    cursor: pointer;
  }
  button:hover {
    filter: brightness(0.85);
    color: white;
  }
  .mode span:hover {
    background-color: #b0aca0;
  }
}
